@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

//Colors
$pink: #ff52c1;
$lightPink: #ff8ed7;
$darkCyan: #00252e;
$grayishBlue: #808e9a;
$red: #ff4343;
$cyan: #00c7fa;
$white: #fff;

//Fonts
$openSans: "Open Sans", sans-serif;
$Poppins: "Poppins", sans-serif;
